*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.main_box{
    background: url(photo.jpg);
    height: 100vh;
    background-size: cover;
}

.btn_one i{
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    transition:  all 0.2s linear;
}

.sidebar_menu{
    position: fixed;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    transition:  all 0.3s linear;
}

.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    height: 60px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5)
}

.sidebar_menu .logo a{
    position: absolute;
    left: 50px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.sidebar_menu .btn_two i{
    color: grey;
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 275px;
    opacity: 0;
    cursor: pointer;
    transition:  all 0.2s linear;
}

.sidebar_menu .menu{
    color: white;
    position: absolute;
    width: 100%;
    top:80px;
}

.sidebar_menu .menu li{
    margin-top: 6px ;
    padding: 14px 20px;
}

.sidebar_menu .menu i,a {
    color:white;
    text-decoration: none;
    font-size: 20px;

}

.sidebar_menu .menu i{
    padding-right: 8px;
}

.sidebar_menu .social_media{
    position: absolute;
    left: 25%;
    bottom: 50px;
}

.sidebar_menu .social_media i{
    color: white;
    opacity: 0.5;
    padding: 0 5px;
}

#check{
    display:none;
}

.sidebar_menu .menu li:hover{
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5) 
}

.btn_one i:hover{
    font-size: 40px;

}

.btn_two i:hover{
    font-size: 30px;
}

.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform: scale(1.1);
}

#check:checked ~ .sidebar_menu{
    left: 0;
}

#check:checked ~ .btn_one i{
    opacity: 0;
}

#check:checked ~ .sidebar_menu .btn_two i {
    opacity: 1;
}

.contents{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.one-box{
    height: 20rem;
    width: 90%;   
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 50px;
    border-radius: 5px;
    padding-left: 50px;
    
}


.one{
    height: 19rem;
    width: 27rem;
    background-size: cover;
    margin-left: 55%;
    margin-top: 7px;
    border: 1px solid rgb(10, 8, 8);
    
}
.one:hover{
    box-shadow: 3px 5px 5px red;
}

.two-box{
    height: 20rem;
    width: 90%;   
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 50px;
    border-radius: 5px;
    padding-left: 50px;
}

.two{
    height: 19rem;
    width: 27rem;
    background-size: cover;
    margin-left: 55%;
    margin-top: 7px;
    border: 1px solid rgb(10, 8, 8);
}

.three-box{
    height: 20rem;
    width: 90%;   
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 50px;
    border-radius: 5px;
    padding-left: 50px;
}

.three{
    height: 19rem;
    width: 27rem;
    background-size: cover;
    margin-left: 55%;
    margin-top: 7px;
    border: 1px solid rgb(10, 8, 8);
}

.four-box{
    height: 20rem;
    width: 90%;   
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 50px;
    border-radius: 5px;
    padding-left: 50px;
}

.four{
    height: 19rem;
    width: 27rem;
    background-size: cover;
    margin-left: 55%;
    margin-top: 7px;
    border: 1px solid rgb(10, 8, 8);
}

.five-box{
    height: 20rem;
    width: 90%;   
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 50px;
    border-radius: 5px;
    padding-left: 50px;
}

.five{
    height: 19rem;
    width: 27rem;
    background-size: cover;
    margin-left: 55%;
    margin-top: 7px;
    border: 1px solid rgb(10, 8, 8);
}